body {
    background-color: #f6f6f5;
}

.btn {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

/** header css **/
header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 3.125rem;
    z-index: 1000;
    background-color: #a1b5d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.125rem;
    padding: 0 1rem;
}

header h1 {
    font-size: 1.5rem;
}

header img {
    height: 2.5rem;
}

/** nav css **/

.left_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 1.6rem;
    width: 9.375rem;
    height: 12.5rem;
    border-radius: 1rem;
    background-color: #c2d8b9;
}

.left_nav > h2 {
    padding: 1rem;
}

.left_nav > ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    width: 7.5rem;
    height: 8.5rem;
    padding: 0.25rem 0;
    padding-left: 0;
    background-color: white;
}

.left_nav .nav_item {
    width: 90%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;

    &:hover {
        background-color: #c2d8b9;
    }
    &:hover > a {
        color: white;
    }
}

/** banner css **/
.slider {
    display: flex;
    position: relative;
    width: 66.5rem;
    height: 7.5rem;
    margin-top: 3.125rem;
    overflow: hidden;
    box-sizing: border-box;
}

.banner {
    display: flex;
    width: 78.75rem;
    margin: 1.6rem 0;
    flex-wrap: nowrap;
}

.original {
    animation: bannermove 10s linear infinite;
}

.clone {
    animation: clonemove 10s linear infinite;
}

.banner > img {
    width: 8rem;
    height: 7.5rem;
    margin: 0 0.3125rem 0 0;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes clonemove {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-200%);
    }
}

/** main css **/
main {
    width: 84.02%;
    margin-left: 14.375rem;
}

.shoppingList {
    width: 100%;
    padding-top: 3.75rem;
    scroll-margin-left: 14.375rem;
}

.totalList {
    display: block;
}

.officeList,
.clothList,
.kitchenList {
    display: none;
}

.container {
    display: grid;
    width: 83.4%;
    gap: 1rem 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 17.5rem;
    border-radius: 1.6rem;
    background-color: white;
    transform-origin: center;
    transform-box: fill-box;
}

.item:hover {
    animation: itemmove 3s infinite ease-in-out;
}

.item > img {
    width: 90%;
    height: 70.2%;
    margin-top: 5%;
    border-radius: 1.6rem;
}

.item > span {
    margin-top: 0.3125rem;
}

.love:hover {
    color: red;
}

@keyframes itemmove {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 1320px) {
    .container {
        grid-template-columns: repeat(5, 12.5rem);
    }
}
@media screen and (max-width: 1320px) {
    .container {
        grid-template-columns: repeat(4, 12.5rem);
    }
}

@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: repeat(3, 12.5rem);
    }
}

@media screen and (max-width: 880px) {
    .container {
        grid-template-columns: repeat(2, 17.5rem);
    }
    .item {
        width: 17.5rem;
        height: 26.875rem;
    }
    .item > img {
        width: 15.625rem;
        height: 20.4rem;
        margin-top: 1.6rem;
        border-radius: 1.6rem;
    }
}

@media screen and (max-width: 810px) {
    .container {
        grid-template-columns: repeat(1, 31.25rem);
    }

    .item {
        width: 31.25rem;
        height: 37.5rem;
    }
    .item > img {
        width: 28.75rem;
        height: 31.25rem;
        margin-top: 1.6rem;
        border-radius: 1.6rem;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    margin-top: 3.125rem;
    background-color: #c1cad4;
}
